/* 
	文件名：home.css
	文件描述：首页样式
			（大图轮播样式）
	创建时间：2016.11.08
	更新时间：2017.05.09
	创建者：小虎（www.wuxiaohu.com）
*/

/*************************************************************************
2017.05.09: 响应显示/隐藏，从之前的JS判断改为CSS响应
2016.11.20: 首页基本完成
2016.11.17: 更新注释
*************************************************************************/


/***** PC端 大图导航 *****/

.album-indexUl li,.album-indexUl li a,.album-indexUl li img,.album-btnWrap,.album-btnWrap > div { height: 100%;}
#album-index { height: 0; width: 100%; position: relative; overflow: hidden; display: none; -webkit-transition: height .5s linear; transition: height .5s linear;}
.album-indexUl { width: 1000rem; height: 500px; margin-top: 0; margin-bottom: 0; margin-left: 50%; padding-left: 0; position: absolute;}
.album-indexUl li { float: left;}
.album-indexUl li a { display: block; position: relative;}
.album-indexUl li a::before { content: ""; display: block; position: absolute; width: 100%; height: 100%; background: rgba(0,0,0,.3); cursor: pointer;}
.album-indexUl li.active a::before,.album-indexUl li:hover a::before { animation: aBGtran .5s; -webkit-animation: aBGtran .5s; background: rgba(0,0,0,0);}
.album-indexUl li img { width: auto;}

@keyframes aBGtran{
	from { background: rgba(0,0,0,.3) }
	to { background: rgba(0,0,0,0)}
}
@-webkit-keyframes aBGtran{
	from { background: rgba(0,0,0,.3) }
	to { background: rgba(0,0,0,0)}
}

@media screen and (min-width: 768px) {
	#album-index{display: block;}
}

/* 导航按钮 */
.album-btnWrap { width: 100%; position: absolute; top: -100%;}
.album-btnWrap > div { width: 100px; text-align: center; color: #fff; cursor: pointer; position: absolute; top: 100%;}
.album-btnWrap .album-btn-prev { left: 0;}
.album-btnWrap .album-btn-next { right: 0;}
.album-btnWrap .album-btn-prev:hover { background: -ms-linear-gradient(left, rgba(0,0,0,.9), rgba(0,0,0,0)); background: -webkit-linear-gradient(left, rgba(0,0,0,.9), rgba(0,0,0,0)); background: linear-gradient(left, rgba(0,0,0,.9), rgba(0,0,0,0));}
.album-btnWrap .album-btn-next:hover { background: -ms-linear-gradient(right, rgba(0,0,0,.9), rgba(0,0,0,0)); background: -webkit-linear-gradient(right, rgba(0,0,0,.9), rgba(0,0,0,0)); background: linear-gradient(right, rgba(0,0,0,.9), rgba(0,0,0,0));}
.album-btnWrap > div > span { font-size: 1.8rem; color: #ddd;}
.album-btnWrap > div:hover > span { color: #999;}

/*小图标导航*/
.album-ctrWrap { display: -webkit-flex; display: flex; -webkit-justify-content: center; justify-content: center; position: absolute; width: 100%; height: 0; bottom: -1.25rem; -webkit-transition: bottom .5s linear .5s; transition: bottom .5s linear .5s;}
.album-ctrWrap > a { width: .5rem; height: .5rem; -webkit-flex-basis: .5rem; flex-basis: .5rem; display: block; margin: 0 .15rem; border-radius: 50%; background: rgba(255,255,255,.7); border: 1px solid rgba(225,77,67,.1); cursor: pointer;}
.album-ctrWrap > a.active { background: rgba(0,100,150,.9);}


/***** 关于我 *****/

/***** 活动列表 *****/

#artLists-index { padding-top: 1rem; padding-bottom: 2rem;}

/***** 联系我 *****/

#contact-index { padding: 1.5rem 0 3rem; background: #006496; color: #fff;}
#contact-index h3 { margin-bottom: 0;}



